*.py[cod]

__pycache__

# Eclipse project files
.project
.pydevproject
.settings/

# Intellij IDEA PyCharm
.idea/
.idea_modules/

# default output folder when running/testing locally

# get-data.sh puts data into
crawl-data/
input/
python_venv/

logs/

tmp/
